# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite3

# Migration configuration
migrations/alembic.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

property_images/
property_data.json
migrations/.alembic.ini