@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: Arial, Helvetica, sans-serif;
}

/* Slick carousel custom styles */
.slick-prev,
.slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  opacity: 0.75;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  color: white;
  opacity: 0.75;
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}
